<!-- 
  
/*

  File name : navbemu.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->

<nav
  class="navbar mb-5 navContainer navbar-expand-lg bg-secondary fixed-top text-uppercase"
  id="mainNav"
>
  <div class="container">
    <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
    <button
      class="navbar-toggler navbar-toggler-right text-uppercase bg-primary  rounded"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="logo">
      <img
      class="img-fluid"
      src="/static/img/portfolio/logo.png"
      alt="Logo"
    />
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/about"
            >About Me</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/project"
            >Projects</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/services"
            >Services</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/contact"
            >Contact Me</a
          >
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/login"
            >Login Page</a
          >
        </li>    
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="/businessList"
            >Business List</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
