<!-- 
  
/*

  File name : about.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>

  <!--About Section-->
  <div class="p-5"></div>
  <section class="bg-primary  mb-0" id="About">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="ml-auto m" style="margin-top: 100px;">
            <h3>About Me</h3>
            <p class="lead mt-4">
              Motivated professional with vast IT experience. With hands-on experience using multiple programming
              languages and web designing. My vision is develop strong community for upcoming technology revolution, 
              So that anybody can have benefit from this opportunity.             </p>

            <div class="text-center mt-5">
              <a target="_blank" rel="noopener noreferrer" href="/resume" class="anButton" href="/about">
                Resume
                <div></div>
                <i class="fa fa-link"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center avaterImg">
              <img class="img-fluid" class="" style="width: 280px;height: 360px;" src="/static/img/portfolio/me.png" alt="avatar" />
          </div>
          <h4 class="text-center mt-4">Vishwa Akhani</h4>
        </div>
      </div>
    </div>
  </section>


</body>

</html>