<!-- 
  
/*

  File name : businessList.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>
  <section id="contact ">
    <div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="/static/img/portfolio/contactlist.png" alt="Image" />
        </div>
        <div class="col-md-6">
          <h3 class="text-left text-uppercase  mt-5 mb-5">Business Contact List</h3>
          <div class="text-left mt-5">
            <a href="/contactlist" rel="noopener noreferrer" class="anButton">Go to Business Contacts <div></div>
              <i class="fas fa-list"></i>
            </a>
            <br />
            <div class="p-2"></div>
            <a href="/logout" rel="noopener noreferrer" class="anButton">Logout<div></div>
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>