<!-- 
  
/*

  File name : error.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>

  <section id="contact ">
    <div class="container">
      <div class="error_container">
        <h2 class="text-center text-uppercase text-danger mt-5 mb-0">
          Error !
        </h2>
        <a href="/"  class="anButton mt-5">Home<div></div>
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
  </section>
</body>

</html>