<!-- 
  
/*

  File name : index.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!--Navigation-->
  <% include ./partials/navmenu %>

  <!--Home page content-->

  <section class="bg-primary  mb-0" id="About">
    <div class="container" style="min-height: 500px;margin-top: 150px;">
      <h2 style="text-align: center;font-weight: 600;font-size: 36px;margin-bottom: 60px;">Welcome, I am Vishwa Akhani.
      </h2>

      <div class="row">
        <div class="ml-auto">
          <p class="lead">
            I am currently enrolled in an Advance Diploma in Software Engineering Technology at Centennial College. As a
            student of software engineering, I am skilled in C#, SQL, JavaScript, HTML5, CSS, Database Management and
            Web Development. Through my academic projects, I have developed my abilities to do object-oriented
            programming, designing effective software and develop visually appealed and user-friendly websites.
          </p>
          <p class="lead">
            I have also developed strong analytical, communication and problem-solving skills. I am very much detail
            oriented as well as fast learner too. I believe I can create, propel, and deliver high impact business
            solutions and results.
          </p>
        </div>
      </div>
      <div class="text-center">
        <a class="anButton mt-5" href="/about">
          About Me
          <div></div>
          <i class="fa fa-address-card"></i>
        </a>
      </div>
    </div>
  </section>
</body>

</html>