<!-- 
  
/*

  File name : project.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <!-- Navigation-->
  <% include ./partials/navmenu %>





  <!--Project Grid Section-->
  <section class="portfolio mt-5" id="portfolio">

    <h3 class="text-center text-uppercase  mt-5 mb-5">
      Project
    </h3>
    <div class="container">
      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/project1.png" alt="Image" />
            </div>
          </a>
        </div>
        <div class="description col-lg-6 col-md-6">
          <h3>Vehicle rental website (Software Development Project)</h3>
          <p>
            Completed Technical Document, Project Outline, Weekly Status Reports for review. Built the validation code
            for Customer booking page. Performed Code Testing, Smoke and Regression Testing. Optimized code by removing
            bugs, code smells
          </p>
        </div>
      </div>
      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/project2.png" alt="Image" />
            </div>
          </a>
        </div>
        <div class="description col-lg-6 col-md-6">
          <h3>Scheduling Application System (Role: Business Analyst)</h3>
          <p>
            Developed a complete software requirements specification for software based on the Unified Process
            (UP) artifacts, with Use Cases as the main specification technology.Reconstructed the SRS from the published
            snapshot and related works on the software
          </p>
        </div>
      </div>
      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/project3.png" alt="Image" />
            </div>
          </a>

        </div>
        <div class="description col-lg-6 col-md-6">
          <h3>School Management System </h3>
          <p>
            Developed This Application for  management School allow  to digitally monitor the daily activities along with managing all the resources and information on a single platform.
          </p>
        </div>
      </div>
    </div>
  </section>


</body>

</html>