<!-- 
  
/*

  File name : resume.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
</head>
<body>
  <embed src="/static/img/portfolio/resume.pdf" style="width: 100%;" width="100%" height="2000px" />
</body> 
</html>