<!-- 
  
/*

  File name : services.ejs
  Student name :Vishwa Akhani
  StudentID :300913898
  Date:29 October 2020

*/
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/header %>
</head>

<body id="page-top">
  <% include ./partials/navmenu %>

  <section class="portfolio" id="portfolio">
    <div class="container">
      <h3 class="text-center text-uppercase  mt-5 mb-5">
        Services
      </h3>

      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/service1.png" style="width: 380px; height: 380px;"
                alt="Movie Finder" />
            </div>
          </a>
        </div>
        <div class="description col-lg-6 col-md-6">
          <h3>Web Application Design and Development</h3>
        </div>
      </div>
      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/service2.png" style="width: 380px; height: 380px;"
                alt="Movie Finder" />
            </div>
          </a>
        </div>
        <div class="description col-lg-6 col-md-6">
          <h3> Documentation and Implementation of information systems in web technologies(SDLC)</h3>
        </div>
      </div>
      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/service3.png" style="width: 380px; height: 380px;"
                alt="Movie Finder" />
            </div>
          </a>
        </div>
        <div class="description col-lg-6 col-md-6">
          <h3>Mobile Application Development </h3>
        </div>
      </div>
      <div class="row " style="margin-top: 50px;">
        <div class="col-lg-6 col-md-6">
          <a class="portfolio-item d-block mx-auto" href="#">
            <div class="custom_img">
              <img class="img-fluid" src="/static/img/portfolio/service5.png" style="width: 380px; height: 380px;"
                alt="Movie Finder" />
            </div>
          </a>
        </div>
        <div class="description col-lg-6 col-md-6">
          <h3> Desktop Application Development </h3>
        </div>
      </div>
    </div>
  </section>
</body>

</html>